
<div fxLayoutAlign="center center" fxFlexFill class='main-div'>
    <mat-card fxFlex='20'>
        <form fxLayoutAlign="stretch" fxLayout="column" class='login-form'>
            <mat-toolbar color='primary'>Log In page</mat-toolbar>
            <mat-form-field>
              <input matInput placeholder="User Login">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="password" placeholder="Password">
              </mat-form-field>
              <button mat-button type='submit'>Log In</button>
        </form>
          
    </mat-card>
    
</div>
